<% add_decidim_meta_tags(title: t("contact", scope: "menu")) %>
<p id="notice"><%= notice %></p>
<div style="width: 100%; margin-top: 30px;">
  <div class="card small-10 small-centered columns" style="width: 320px;">
    <div class="card-divider">
      <h4><%= t(".contact") %></h4>
    </div>
    <div class="card-section">
      <%= render 'form', contact: @contact %>
    </div>
  </div>
</div>