<h1><%= t('edit_contact') %></h1>

<%= render 'contacts/form', contact: @contact %>

<%= link_to t('show'), admin_contact_path(@contact), class: "button secondary" %> 
<%= link_to t('back'), admin_contacts_path, class: "button secondary" %>
